---
import FileInfo from '../components/FileInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="File Hashes and Size">
	<header>
		<h1 class="text-5xl">File Hashes and Size</h1>
	</header>
	<main class="">
		<FileInfo />
	</main>
	<footer class="mt-auto flex flex-col space-y-2">
		<p class="">
			Created by <a class="underline hover:decoration-2" href="https://twitter.com/BrendonReyell">Bonzo</a> of <a class="underline hover:decoration-2" href="https://bonzosretro.shop/">Bonzo's Retro Shop</a>.
		</p>
		<div class="">
			<a class="underline hover:decoration-2" href="https://github.com/breyell/File-Hashes-and-Size">Project GitHub</a>
		</div>
	</footer>
</Layout>